appdirs==1.4.3
distlib==0.3.0
filelock==3.0.12
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
pdoc3==0.9.2
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylama==7.7.1
six==1.14.0
snowballstemmer==2.0.0
virtualenv==20.0.13
